@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body{
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
}

.animate-draw {
    stroke-linecap: round;

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 25s forwards;
}


.paw-bg {
  background-image: url('/src/assets/bg-pawww.svg');
  background-repeat: repeat;
  background-size: 100px;
}

